.preview {
    height: 100px;
    width: 100px; 
    }
    
    .preview_img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* ключевое свойство, сохранит пропорции картинки и растянет ее на весь блок, лишнее обрежется, и фотошоп не нужен)*/ 
    }